<!doctype html>


<html lang="en">

	<body>

		<div class="container-main">
			<a name="top-desktop"></a>
			<div class="main__container-about">

				<div class="main__tag">About</div>
				<p class="main__copy">
					CIS 700-002      
				</p>
			</div>

			<div class="main__container-projects">
			
				<form action="http://localhost:5000/login" method = "POST">
				
				  <div class="container">
				    <label><b>Username</b></label>
				    <input type="text" placeholder="Enter Username" name="uname" >
				
				    <label><b>Password</b></label>
				    <input type="password" placeholder="Enter Password" name="psw" >
				
				    <button type="submit">Login</button>
				    <input type="checkbox" checked="checked">Remember me
				  </div>
				  </div>
				</form>

			</div>

		</div>
	</body>
</html>